language: python
python:
    - "3.8"
install: pip install coverage coveralls flake8 httpx mccabe mypy pylint pytest>=5.4 pytest-asyncio pytest-httpx
script:
    - flake8 dadata
    - pylint dadata
    - mypy dadata
    - coverage erase
    - coverage run --include=dadata/* -m pytest
    - coveralls
